.item {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 8px 15px;

  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

.item:not(:last-child) {
  margin-bottom: 8px;
}

.status {
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;

  background-color: #e7e7e7;
}

.isOnline {
  background-color: #02ad2d;
}

.isOffline {
  background-color: #c90202;
}

.avatar {
  border-radius: 4px;
  background-color: #e7e7e7;
}

.name {
  font-weight: 500;
}
